@media screen and (max-width: 394px)
{
    .menu
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 2vw;
    }
    .menuContent
    {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        width: 100%;
    }
    .menu.extended
    {
        padding-top: 3vw;
        width: 100vw;
        height: 25vw;
    }
}
@media screen and (min-width: 395px)
{
    .menu
    {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        height: 5vw;
        width: 5vw;
    }
    .menu.extended
    {
        width: 25vw;
        height: 100vw;
    }
}
body
{
    background-color: #253c26;
    color: white;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

header
{
    background-image: url("images/banner.jpeg");
    background-position-y: 20%;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    height: 35vw;
    width: 100%;
}

#title
{
    color: white;
    font-size: 10vw;
    justify-self: center;
    align-self: center;
}




h2
{
    font-size: 4vw;
}

.item
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-width: min-content;
    align-content: center;
    justify-content: space-around;
    column-gap: 2vw;
    margin: 3vw;
    background-color: #26865b;
    border: 0.5vw solid #843414;
}

.itemDescription
{
    word-break: break-word;
    max-width: 100%;
    font-size: 3vw;
}


.itemText
{
    padding: 3vw;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.itemImage
{
    box-sizing: border-box;
    margin: 3vw;
    max-height: 30vw;
    align-self: center;
    justify-self: center;
    height: auto;
}

.sectionStructure
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}
.sectionTitle
{
    justify-self: center;
    font-size: 6vw;
}
.redirectCard
{
    display: flex;
    border: 0.5vw solid #843414;
    background-color: #26865b;
    padding: 1vw;
    max-height: max-content;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    border-radius: 5vw;
    cursor: pointer;

    transition: background-color 0.5s, border 0.5s;
}
.redirectCard:hover
{
    background-color: #843414;
    border: 0.5vw solid #26865b;
}
.redirectLink
{
    align-self: center;
    justify-self: center;
    color: white;
}

.extendableMenu
{
    cursor: pointer;
    display: inline-block;
    background-image: url("images/bars.png");
    background-color: #a8cebd;
    background-size: contain;
    box-sizing: border-box;
    width: 7vw;
    height: 7vw;
    position: fixed;
    top: 0;
    left: 0;
}

.extendableMenu.extended
{
    width: 100vw;
    height: 7vw;
    background-image: none;
}

.list
{
    border: 0.5vw solid #843414;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 3vw;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 3vw;
    background-color: #a8cebd;
    width: 100%;
    height: max-content;
    pointer-events: none;

    opacity: 0;

    transition: width 0.5s visibility 0.5s opacity 0.5s pointer-events 0.5s;
}
.list.visible
{
    opacity: 1;
    pointer-events: all;
}

a
{
    color: white;
    text-decoration: none;
}
